.footer {
  background-color: $color-dark-blue;
}

.footer a {
  @include hover-focus {
    opacity: 0.8;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 44px;

  @include vp-1023 {
    padding-top: 47px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__link a {
  @include vp-1023 {
    padding-top: 3px;
  }

  @include vp-767 {
    display: block;
    padding-top: 0;
    width: 42px;
    height: 22px;
  }
}

.footer__logo {
  width: 70px;
  height: 38px;
  fill: $color-white;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.footer__menu {
  margin-top: 9px;
  margin-left: 40px;
  max-width: 760px;

  @include vp-1023 {
    margin-top: 0;
    margin-left: 25px;
    max-width: 500px;
  }

  @include vp-767 {
    max-width: none;
    margin-left: 0;
    width: 100%;
  }
}

.footer__menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 33px;

  @include vp-1023 {
    gap: 23px;
  }

  @include vp-767 {
    gap: 0;
    padding-top: 16px;
    flex-direction: column;
  }
}

.footer__menu a {
  padding: 15px 0;
  font-family: $ff-montserrat;
  font-size: $fs-default;
  line-height: $fh-decent;
  font-weight: $fw-medium;
  color: $color-white;

  @include vp-1023 {
    padding: 10px 0;
    font-size: $fs-mini;
    line-height: $fh-mini;
  }

  @include vp-767 {
    padding: 9px 0;
    display: block;
  }
}

.footer__socials {
  margin-top: 10px;
  max-width: 120px;

  @include vp-1023 {
    max-width: 102px;
    margin-top: 5px;
  }

  @include vp-767 {
    max-width: none;
    margin-top: 15px;
  }
}

.footer__socials ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;

  @include vp-1023 {
    position: relative;
    right: -4px;
    gap: 12px;
  }

  @include vp-767 {
    justify-content: flex-start;
    right: 4px;
  }
}

.footer__socials a {
  margin: 0;
  padding: 5px;
}

.footer__socials-svg--ok {
  width: 12px;
  height: 20px;

  @include vp-1023 {
    width: 10px;
    height: 16px;
  }
}

.footer__socials-svg--dzen,
.footer__socials-svg--reddit {
  width: 20px;
  height: 20px;

  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}
